// =============================================================================
// Base16 ChaniVibes (dark variant)
// =============================================================================
// Pre-adapted from ChaniYottaVibes & Hanaka for Base16 Theme
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// -----------------------------------------------------------------------------
$base00: #151311;
$base01: #1F1C19;
$base02: #312D29;
$base03: #4A453F;
$base04: #69635B;
$base05: #8F877C;
$base06: #BCB1A3;
$base07: #E8E2DA;
$base08: #E2270E;
$base09: #F4A128;
$base0A: #E9BB01;
$base0B: #8DB406;
$base0C: #08B16B;
$base0D: #067CC6;
$base0E: #E63766;
$base0F: #F4855C;
// -----------------------------------------------------------------------------