.error h1, .error h2, .error h3, .error quote {
    font-family: Quicksand, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.error .error-code {
    font-family: Quicksand, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8em;
    padding: 0;
    margin: 0;
}

.buttons {
  margin: 1.4rem 0;
}

.error .buttons a {
  padding: 0.5rem 1rem;
  color: inherit;
  border: 2px solid white;
}

.big .my-svg-icon {
  color: white;
  fill: white;
}

.full .site-footer {
  padding-top: 1rem;
}
